@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
  max-width: 100%;
}
body {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background-color: var(--Light-gray);
}
main {
  border-radius: 0.625rem;
  background-color: var(--White);
  padding: 1.25rem;
  margin-bottom: 2rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
  max-width: 320px;
}

main img{
    border-radius: 0.625rem;
    margin-bottom: 1rem;
    
}
main h1{
    color: var(--Dark-blue);
    text-align: center;
    margin-bottom: 1rem 1rem auto 1rem;
}
main p{
    color: var(--Grayish-blue);
    text-align: center;
    margin: 1rem;
}
footer {
  font-size: 11px;
  text-align: center;
}
footer a {
  color: hsl(228, 45%, 44%);
}

